.additional_wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}

.search_block {
  position: absolute;
  top: 130%;
  right: 40%;
  transform: translateX(-40%);
  font-size: 15px;
  padding: 10px;
  border: solid 1px black;
  border-radius: 10px;
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.2s;
}

.search_block.active {
  opacity: 1;
}
