.card_wrapper {
  display: flex;
  flex-direction: column;
  width: 385px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px var(--box-shadow-primary-color), 0 4px 6px -4px var(--box-shadow-primary-color);
  cursor: pointer;
}

.image {
  transition: all 0.3s;
}

.card_wrapper:hover .image {
  transform: scale(1.05);
}

.info {
  display: flex;
  flex-direction: column;
  padding: 15px;
  height: 100%;
  justify-content: space-between;
  gap: 25px;
}

.author {
  color: var(--text-article-describe);
}
